.v-system-bar--fixed {
  z-index: 9999;
}

.x-row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-left: 12px;
}
.x-row__item {
  position: relative;
  width: 18vw;
  height: 18vw;
  border: 2px dashed #9898a4;
  color: #9898a4;
  border-radius: 5px;
  transition: 0.2s ease;
  &:hover {
    color: #fff;
    border-color: #fff;
  }
}
.x-row__item-plus {
  display: block;
  width: 20%;
  height: auto;
  margin: 0 auto 12px;
}

.v-toolbar__content {
  align-items: center;
}

.switch-autosave {
  .v-input__slot {
    margin-bottom: 0;
  }
  .v-messages {
    display: none;
  }
}

.ui-titletext__textarea {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.ui-titlecontrols {
  position: relative;
  z-index: 1;
}